<h1>About</h1>
<p>Through the horror of German 1 - Vocab Test 1, I hope to create a personalized
flashcard app for revising German words effectively. </p>
<p>This app should have flipping cards and words ordered into units.</p>
<p>Hopefully I can memorize like 200 new words/week with its help ~>.<~</p>