<div class="container">
<div class="row">
	<div class="flip-container " ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front col s4 offset-s4">
			<!-- front content -->
			German word
		</div>
		<div class="back col s4 offset-s4">
			<!-- back content -->
	    English word
		</div>
	</div>
</div>
		
</div>


<div class="row">

		<%= link_to 'Reset', quiz_path, class: "waves-effect waves-light btn red accent-1 col s4 offset-s4" %>
		</div>
		</div>