<div class="row">
<div class="flip-container col push-s5" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
			German word
		</div>
		<div class="back">
			<!-- back content -->
	    English word
		</div>
	</div>
</div>
</div>