    <div class="container-fluid">
      <div class="center">
<%= link_to 'New Word', new_word_path, class: "waves-effect waves-light btn red accent-1" %>

<%= link_to 'Revision', study_path, class: " waves-effect waves-light btn red accent-1" %>

<%= link_to 'Quiz', quiz_path, class: " waves-effect waves-light btn red accent-1" %>
</div></div>