<div class='container'>
  <h1>Quiz</h1>
  
    <!--some form or input for number of cards here-->
    <div class="text-center">
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <input id="word_count" type="number">
          <label for="word_count">How many words?</label>
       </div>
       <%= link_to 'Start', flashcard_path,  class: "waves-effect waves-light btn red accent-1 col s4 offset-s4 "%>

     </div>
   </div>

<%#= link_to 'Start', flashcard_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</div>
<div class="row">

 </div>