@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */


body {
  padding-top: 5rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 0.9rem;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -0.167rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.083px;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 0.83rem;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.083px;
  padding-top: 0.75rem;
  font-weight: bold;
  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}


img {
  display: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}